{% extends "layout.html" %}
{% block content %}

    <h3>Add Boat</h3>

    {% if data %}
    {% print(data) %}
    {% endif %}


     <form action="{{ url_for('add_boat') }}" method="post" enctype="multipart/form-data">
      <input type="text" name="bname" placeholder="Boat Name" value="Yellow"/>
      <br />

      <br />
      <input type="text" name="btype" placeholder="Boat Type" value="Pokemon">
       <br />
       <br />

        <input type="text" name="loa" placeholder="Boat LOA" value="10.5">
        <br />
        <br />

        <input type="file" name="image" placehodler="Boat image" />

        <br />
        <br />

        <input type="submit" value="Add boat" />
    </form>


{% endblock %}