{% extends "layout.html" %}
{% block content %}

    <h3>Add Boat</h3>

    <form action="/boat" method="post" enctype="multipart/form-data">
    <table cellpadding="5" class="table">

        <tr>
            <td>Name</td>
            <td><input required name="bname"  class="form-control" /></td>
        </tr>

        <tr>
            <td>Image</td>
            <td><input required type="file" name="image" class="form-control" /></td>
        </tr>

        <tr>
            <td>Type</td>
            <td><input required name="btype"  class="form-control"/></td>
        </tr>

        <tr>
            <td>LOA</td>
            <td><input required type="number" step="any" name="loa"  class="form-control" /></td>
        </tr>

        <tr>
            <td>Beam (in meters)</td>
            <td><input type="number" step="any" name="beam"  class="form-control" /></td>
        </tr>

        <tr>
            <td>Draft (in meters)</td>
            <td><input type="number" step="any" name="draft"  class="form-control" /></td>
        </tr>

        <tr>
            <td>Keel Type</td>
            <td><input name="keel_type"  class="form-control" /></td>
        </tr>

        <tr>
            <td>Dead weight</td>
            <td><input name="dead_weight"  class="form-control" /></td>
        </tr>

        <tr>
            <td>Shaft type</td>
            <td><input name="shaft_type"   class="form-control" /></td>
        </tr>

    </table>

    <input type="submit" value="Add" class="btn btn-primary" />

    </form>

    </form>


{% endblock %}
