
{% extends "layout.html" %}
{% block content %}

    {% if not boat %}
        No boat found

    {% else %}

    <img src="/images/boats/{{ boat['id'] }}.jpg"
     style="width:100%; max-width: 500px">

    <table class="boat_details" cellpadding="0" cellspacing="0">
      <tr>
        <td>Boat Name</td>
        <td>{{ boat['bname'] }}</td>
      </tr>
      <tr>
        <td>class/Type</td>
        <td>{{ boat['btype'] }}</td>
      </tr>
      <tr>
        <td>LOA</td>
        <td>{{ boat['loa'] }}</td>
      </tr>
      <tr>
        <td>Beam</td>
        <td>3.25m</td>
      </tr>
      <tr>
        <td>Draft</td>
        <td>1.83m</td>
      </tr>
      <tr>
        <td>Keel Type</td>
        <td>Fin</td>
      </tr>
      <tr>
        <td>Dead Weight</td>
        <td>6.5T on LW</td>
      </tr>
      <tr>
        <td>Shaft type</td>
        <td>Outdrive</td>
      </tr>
    </table>

    {% endif %}
     <br />

    <form action="{{ url_for('delete_boat') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="boat_id" id="boat_id" value="{{ boat['id'] }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Delete</button>
    </form>

    <a href="/" style="display: block; margin-top: 10px"><< Back to home</a>
    {% endblock %}

