{% extends "layout.html" %}
{% block content %}

    {% for boat in boats %}
      <a href="/boat/{{ boat['bname'] }}">
        <div class="boat-card clearfix"<a href="/boat/{{ boat['bname'] }}">
          <img src="https://s3.eu-west-2.amazonaws.com/marina-boat-images/{{ boat['bname'].lower() }}.jpg"
          style="width:100%; height: 80px; width: 80px; float: left">

          <p>
            <b>{{ boat['bname'].capitalize() }}</a></b>
            <br />
            {{ boat['btype'] }}
          </p>

        </div>
      </a>
    {% endfor %}

{% endblock %}