<html>

  <head>
    <title>Marina App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='marina.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Marina</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          {% if session['logged_in']==True %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="/boat/new">Add Boat<span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0 ui-widget" action="{{ url_for('home') }}" method="get">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="search boat" aria-label="Search" id="boat-search" autocomplete="off" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>

    {% for message in get_flashed_messages() %}
            {{ message }}
    {% endfor %}

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      $(function() {

        var boatNames = {{ boat_names | tojson }};

        $("#boat-search").autocomplete({
          source: boatNames,
          open: function(event, ui) {
            $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
          }
        });

        $('body').on('click', '.ui-menu-item', function($event) {
          var boatName = $event.target.textContent
          window.location = "/boat/" + boatName
        })

      })
    </script>
  </body>

  </html>
