{% extends "layout.html" %}
{% block content %}
    <html>
      <head>
        <title>Login Page</title>
      </head>
      <body>
        <div class="container">
          <h1>Marina login</h1>
          <br>
          <form action="" method="post">
            <table class="table">

              <tr>
                <td>Username</td>
                <td><input required name="username" value="admin" class="form-control"></td>
              </tr>

              <tr>
                <td>Password</td>
                <td><input required type="password"  name="password" value="admin" class="form-control"></td>
              </tr>

            </table>

            <input class="btn btn-primary" type="submit" value="Login">
          </form>
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        </div>
      </body>
    </html>
{% endblock %}

<!--

This should be the code for the login inputs, currently using hardcoded values for development

<input type="text" placeholder="admin" name="username" value="{{
              request.form.username }}">
<input type="password" placeholder="admin" name="password" value="{{
              request.form.password }}">
-->